MONGODB_ADDRESS=127.0.0.1
MONGODB_USER=
MONGODB_PASS=
MONGODB_DATABASE=

MEASURE_STATION_AUTHENTICATION=
MEASURE_STATION_INDOOR_GPIO=4
MEASURE_STATION_OUTDOOR_GPIO=26

MEASURE_STATION_URL_INDOOR=http://127.0.0.1:8000/get/
MEASURE_STATION_URL_OUTDOOR=http://127.0.0.1:8001/get/

JWT_SECRET=
JWT_ALGO=HS256