RAVEN_ADDRESS=http://127.0.0.1:8080
RAVEN_DATABASE=

INIT_ADMIN_USER=
INIT_ADMIN_PASS=

MEASURE_STATION_AUTHENTICATION=
MEASURE_STATION_INDOOR_GPIO=4
MEASURE_STATION_OUTDOOR_GPIO=26

FAN_GPIO=21

JWT_SECRET=
JWT_ALGO=HS256